.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  width: 25vw;
  height: 35vw;
  border-radius: 15px;
  padding: 20px;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.body {
  padding-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media only screen and (max-width: 90em) {
  .modal {
    width: 30vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 64em) {
  .modal {
    width: 55vw;
    height: 55vh;
  }
}

/* @media only screen and (max-width: 48em) {
  .modal {
    width: 55vw;
    height: 55vh;
  }
} */

@media only screen and (max-width: 36.125em) {
  .modal {
    width: 80vw;
    height: 60vh;
  }
}
